---
import Layout from '../../layouts/Layout.astro';
import { getProjectById } from '../../lib/projects';
const { params } = Astro;
const projectId = params.projectId;


const project = await getProjectById(projectId);
if (!project) {
  return new Response(null, {
    status: 404,
    statusText: "Project not found",
  });
}
---
<script>
	const token = localStorage.getItem('token');
	if(!token) {
		window.location.replace('/login');
    alert("You must be logged in to view this page.")
	}
</script>

<Layout title="Project Details">
  <h1 class="text-3xl">Project Title: {project.title}</h1>
  <p>Project Description: {project.description}</p>
  <p>Project Start Date: {project.start}</p>
  <p>Project End Date: {project.end}</p>
  <ul>Project Tasks:
    {project.tasks.map((task) => (
      <li>Task: {task}</li>
    ))}
  </ul>
  <ul>Project Members:
    {project.users.map((user) => (
      <a href={`/users/${user}`}>{user}</a>
    ))}
  </ul>
</Layout>
  
